* {
  border: none;
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

#network, #cava, #battery, #backlight, #language, #pulseaudio, #clock, #disk, #privacy, #idle_inhibitor, #memory, #cpu, #custom-lock, #workspaces, #tray  {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #FFF600;
  border-bottom: 3px;
  border-style: solid;
  border-color: #FFF600;
  transition: 0.3s;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5 {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #FFF600;
  border-bottom: 3px;
  border-style: solid;
  border-color: #FFF600;
  transition: 0.3s;
}

#network:hover, #cava:hover, #battery:hover, #backlight:hover, #language:hover, #pulseaudio:hover, #clock:hover, #disk:hover, #privacy:hover, #idle_inhibitor:hover, #memory:hover, #cpu:hover, #custom-lock:hover, #workspaces button:hover, #tray:hover {
  background: #FFF600;
  color: #292c3c;
}

#pulseaudio.muted {
  color: #f38ba8;
  background: #292c3c;
  border-color: #f38ba8;
}

#pulseaudio.muted:hover {
  background: #f38ba8;
  color: #292c3c;
}

#network.disconnected {
  color: #f38ba8;
  background: #292c3c;
  border-color: #f38ba8;
}

#network.disconnected:hover {
  background: #f38ba8;
  color: #292c3c;
}

#idle_inhibitor.activated {
  color: #89b4fa;
  border-color: #89b4fa;
}

#idle_inhibitor.activated:hover {
  background: #89b4fa;
  color: #292c3c;
}

#idle_inhibitor.deactivated {
  color: #FFF600;
}

#idle_inhibitor.deactivated:hover {
  color: #292c3c;
  background: #FFF600;
}

#workspaces button.active {
  color: #b4befe;
}

#custom-launcher {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 17px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #FFF600;
  background: #292c3c;
  transition: 0.3s;
  border-bottom: 3px;
  border-style: solid;
  border-color: #FFF600;
}

#custom-launcher:hover {
  background: #FFF600;
  color: #292c3c;
}
